lxml
decorator
wheel
robotframework==5.0
robotframework-faker
robotframework-crypto
robotframework-sapguilibrary
robotframework-autoitlibrary
pyautogui
pyyaml
shyaml
keyboard
pillow
boltons
robotframework-ocrlibrary
pytesseract
tesseract
opencv-python
###pip freeze > requirements.txt
## Keep your librarie always updated - pypi.org
# python -m pip install --upgrade pip/ python -m pip install -U pip
# python -m pip install --upgrade pip setuptools wheel
# py -m pip install --user virtualenv <https://virtualenv.pypa.io/en/16.7.9/installation.html>
# pip list
## XPath Information
# Installing Python Packages With Setup.Py (https://www.activestate.com/resources/quick-reads/how-to-manually-install-python-packages/)
# To install a package that includes a setup.py file, open a command or terminal window and:
# cd into the root directory where setup.py is located 
# Enter: python setup.py install 
# python -m pip install sdist bdist_wheel
# where does pip install packages
# pip install robotframework-jsonlibrary
# pip install wheel
# pip install nes-py
# pip install Cmake
# pip install ez_setup
# pip install setuptools --upgrade
# pip install unroll
# pip --version
# pip freeze - list of library python instaled
# pip install -U robotframework
# pip install -r requirements.txt
# wxPython
# robotframework-ride
# robotframework-ride==2.0b1
# pip install –-pre --upgrade robotframework-ride==5.0
# Pip install –u wxPython
# pip install robotframework-ride
# trouble shoots
# https://phoenixnap.com/kb/install-pip-windows
# https://www.linuxtutorials.org/fix-warning-ignoring-invalid-distribution-site-packages/
